/* -------------------------------------------------------------------------- */
/* Colours                                                                    */
/* -------------------------------------------------------------------------- */
:root {
  --blue: #24247b;
  --grey: #666666;
  --light-grey: #b7b7b7;
  --red: #990000;
  --yellow: #e69138ff;
  --light-blue: #24247bbe;
  --light-red: #990000bf;
}

/* -------------------------------------------------------------------------- */
/* Global Formatting                                                          */
/* -------------------------------------------------------------------------- */
body, html {
  background-color: white;
  font-family: Helvetica, Arial;
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* -------------------------------------------------------------------------- */
/* Site-wide classes                                                           */
/* -------------------------------------------------------------------------- */
.hidden, .template {
  display: none;
}

.row {
  width: fit-content;
  text-align: center;
  margin: 0;
}

.row:last-child {
  margin: 20px 0;
}

/* -------------------------------------------------------------------------- */
/* HTML tags                                                                  */
/* -------------------------------------------------------------------------- */
h1 {
  padding: 0;
  font-size: 25px;
  text-align: left;
}

hr {
  background-color: var(--light-grey);
  height: 1px;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

main {
  padding: 0 20px;
  min-height: 72%; /* Set height to fill minimum space between header and footer */
}

li {
  list-style-type: none;
}

/* -------------------------------------------------------------------------- */
/* Header                                                                     */
/* -------------------------------------------------------------------------- */
header .title {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-bottom: 2px solid var(--light-grey);
}

header nav {
  border-bottom: 2px solid var(--light-grey);
  padding: 0;
  margin: 0;
}

header nav ul {
  padding: 0;
}

header nav.top ul {
  display: flex;
  justify-content: flex-end;
}

header nav ul li {
  display: inline-block;
  border-right: 2px solid var(--blue);
  padding: 0 5px;
}

header nav ul li:last-child {
  border: none;
}

header nav ul li a {
  color: var(--blue);
  padding: 10px;
}

header nav ul li a:hover, header nav ul li a.active {
  color: white;
  background-color: var(--blue);
}

header nav ul li:first-child {
  padding-left: 20px;
}

header nav ul li:last-child {
  padding-right: 20px;
}

header nav ul li.pseudo-last { /* Easy way of removing border on both links. */
  padding-right: 20px;
  border: none;
}

/* -------------------------------------------------------------------------- */
/* Sign In/Sign Up                                                            */
/* -------------------------------------------------------------------------- */
.account-popups .window hr {
  border: 1px solid var(--light-grey);
  margin-bottom: 20px;
}

.account-popups p {
    margin-bottom: 0;
}

/* -------------------------------------------------------------------------- */
/* Sign In/Sign Up - Popups                                                   */
/* -------------------------------------------------------------------------- */
.account-popups {
  position: absolute;
  top: 0;
  left: 0;
}

.account-popups .window {
  display: none; /* Hide by default */
  height: 100%;
  width: 100%;
  overflow: none;
  background-color: var(--light-grey);
  padding: 10px;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

.account-popups .pop-up-content {
  background-color: white;
  margin: 5% auto 15% auto;
  width: 80%;
}

/* -------------------------------------------------------------------------- */
/* Sign In/Sign Up - Inputs                                                   */
/* -------------------------------------------------------------------------- */
.account-popups input[type=text], .account-popups input[type=password] {
  /* Minimum specification - affects all text inputs in the div */
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
  box-sizing: border-box;
}

.account-popups .pop-up-content input:focus {
  background-color: var(--light-grey);
  outline: none;
}

.account-popups .pop-up-content .container {
  padding: 16px;
}

/* -------------------------------------------------------------------------- */
/* Sign In/Sign Up - Change between popups                                    */
/* -------------------------------------------------------------------------- */
.account-popups .change-popup-message {
    font-size: 12px;
    margin-top: 10px
}

.account-popups .change-popup-message a {
    color: blue;
    text-decoration: underline;
}

.account-popups .change-popup-message a:hover {
    color: black;
}

/* -------------------------------------------------------------------------- */
/* Sign In/Sign Up - Alerts                                                   */
/* -------------------------------------------------------------------------- */
.account-popups p.alert {
  display: none;
  color: var(--red);
  margin: 0 0 10px 0;
}

/* -------------------------------------------------------------------------- */
/* Sign In/Sign Up - Buttons                                                  */
/* -------------------------------------------------------------------------- */
.account-popups .window button {
  color: white;
  padding: 15px 20px;
  margin: 8px 0;
  float: left;
  width: 50%;
  border: none;
}

.account-popups .window .cancel-button {
  background-color: var(--red);
}

.account-popups .window .sign-up-button, .account-popups .window .sign-in-button {
  background-color: var(--blue);
}

.account-popups .window .cancel-button:hover {
  background-color: var(--light-red);
}

.account-popups .window .sign-up-button:hover {
  background-color: var(--light-blue);
}

/* Needed to prevent buttons from being outside pop-up. */
.account-popups .window .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* -------------------------------------------------------------------------- */
/* Reading list                                                               */
/* -------------------------------------------------------------------------- */
main .container {
  min-height: inherit; /* For whatever reason, 100% does not work but this does. */
  position: absolute; /* Needed to set height */
  display: flex;
}

/* -------------------------------------------------------------------------- */
/* Reading list - List Maintenance                                           */
/* -------------------------------------------------------------------------- */
.edit-lists button {
  display: inline-block;
  height: 40px;
  width: 30%;
  color: white;
  margin: 0 30px 20px 30px; /* Add gap to left and right, and create gap to bottom of the page */
  border: none;
}

.edit-lists button.delete-list {
  background-color: var(--red);
  float: left;
}

.edit-lists button.delete-list:hover {
  background-color: var(--light-red);
}

.edit-lists button.create-list {
  background-color: var(--blue);
  float: right;
}

.edit-lists button.create-list:hover {
  background-color: var(--light-blue);
}

/* -------------------------------------------------------------------------- */
/* Reading list - Navigation                                                  */
/* -------------------------------------------------------------------------- */
.container .content {
  margin: 0 0 10px 10px;
  padding: 0;
}

.container .navigation {
  background-color: var(--blue);
  border: solid 3px var(--blue);
  margin: 10px 0; /* Add gap between top and bottom of navigation bar */
  min-width: 160px; /* Any longer will wrap. Fits for default lists*/
  max-width: 160px; /* Ensure that width doesn't increase either */
  min-height: fit-content;
}

.container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container ul li {
  text-decoration: none;
}

.container ul li a {
  display: block;
  color: white;
  padding: 15px 15px;
  border-bottom: solid 1px white;
}

.container ul li a:hover, .container ul li a.active {
  background-color: white;
  color: var(--blue);
  padding: 15px 15px;
}

/* -------------------------------------------------------------------------- */
/* Reading list - books                                                       */
/* -------------------------------------------------------------------------- */
.book {
  padding: 10px 20px 0 5px;
}

.book:nth-last-child(2) hr { /* Last child would not remove the last hr between the last entry and buttons */
  display: none;
}

.book .content {
  display: flex;
  padding-bottom: 10px;
}

.book .main-content {
  padding: 0 20px;
}

.book .cover img{
  padding: 20px 0;
  width: 150px;
}

.book .title {
  display: block;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 5px;
}

.book .author {
  display: block;
  font-size: 20px;
}

.book p {
  font-size: 15px;
  padding: 0;
}

.book .rating {
  font-size: 20px;
  color: var(--yellow);
}

.book .rating-container {
  margin-left: auto;
}

.book .top-row-container {
  display: flex;
  align-items: center;
}

.book .book-info {
  display: block;
  font-size: 13px;
  padding-bottom: 5px;
}

.book .book-info:last-child {
  padding-bottom: 0;
}

.book .right-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: fit-content; /* Sets width to the width of content - over use of width so it is changes if font size changes. Min-width as flex does not respect width */
}/* Date will always be the same width, so each book will look the same.*/

.book .synopsis {
  height: 220px;
  overflow: hidden; /* Remove overflow outside div - prevent extra white space*/
  -webkit-mask-image: linear-gradient(180deg, #000 70%, transparent); /* Fade to transparent over distance */
}

.book .about-review {
  padding: 0 10px;
  font-size: 14px;
}

.book .right-content .actions {
  height: fit-content;
}

.book .right-content .actions button {
  font-size: 13px;
  padding: 5px 10px;
  border: none;
}

.book button.delete {
  float: right;
  color: white;
  background-color: var(--red);
  font-size: 20px;
  height: 40px;
  width: 40px;
}

.book button.read {
  color: white;
  background-color: var(--blue);
  height: 40px;
}

.book button.read i {
  padding-right: 5px; /* Add spacing between plus and text */
}

.book button.read:hover {
  background-color: var(--light-blue);
}

.book button.delete:hover {
  background-color: var(--light-red);
}

.book ol {
  margin: 0;
  list-style-type: "-    ";
}

.book li {
  font-size: 13px;
  padding-bottom: 2px;
}